<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Detail</title>
    <link rel = "stylesheet" href = "{% static 'agent-detail.css' %}">
    <link rel="shortcut icon" href="{% static 'static/favicon.svg' %}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body>
    <section class = "property" id = "property">
        <div class = "container" style = "margin-left: 130px;">
            {% for blog in blogs %}
            <ul>
                <li>
                    <div class = "property-card">
                        <figure class = "card-banner">
                            <img src = "{{ blog.image }}" class = "w-100">
                        </figure>
                        <div class = "card-content">
                            <span>{{ blog.body }}</span>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </section>
</body>
</html>