<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Document List</title>
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
    <link rel = "stylesheet" href = "{% static 'search-block.css' %}">
    <link rel = "shortcut icon" href = "{% static 'static/favicon.svg' %}" type = "image/svg+xml">
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link href = "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id = "center" style = "margin: auto; width: 60%; margin-top: 100px;">
        <section class = "cta"> 
            <div class = "cta-card">
                <div class = "card-content">
                    <form action = "{% url 'elastic-view-results' %}" method = "get">
                        <input class = "search" type = "text" name = "search_query" id = "search_query" placeholder = "" aria-label = "Search">
                        <button id = "button" class = "btn cta-btn" type = "submit" value = "search" style = "bottom: 13px;">
                            <span>Search Homes</span> 
                            <ion-icon name = "arrow-forward-outline"></ion-icon>
                        </button>
                    </form>
                </div>
            </div> 
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
