<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homes for Sale</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel = "stylesheet" href = "{% static 'search-block.css' %}">
    <link rel="shortcut icon" href="{% static 'static/favicon.svg' %}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class = "property" id = "property">
        <div class = "container">
            <div class = "property-card" style = "margin-left: 500px; width: 500px; height: 520px; padding: 30px;">
                <form method = "POST">
                {% csrf_token %}
                    <div>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">Username: </span>
                            <input class="" type="text" name="username" value="{{ form.username.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">First Name: </span>
                            <input class="" type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">Last Name: </span>
                            <input class="" type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">Email: </span>
                            <input class="" type="text" name="email" value="{{ form.email.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">Password: </span>
                            <input class="" type="text" name="password1" value="{{ form.password1.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <p class="hero-text" style="display: flex; margin-left: 30px;">
                            <span style="margin-left: -5px; color: var(--black);">Confirm Password: </span>
                            <input class="" type="text" name="password2" value="{{ form.password2.value|default_if_none:'' }}" style="margin-left: 10px;" id="id_state">
                        </p>
                        <div style = "display: flex;">
                            <button class = "btn" type = "submit" style="margin-left: 30px;">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>